dj-database-url
Django
django-allauth
django-appconf
django-bootstrap4
django-celery-beat
django-ckeditor
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-filter
django-formset-js-improved
django-heroku
django-static-fontawesome
django-storages
gunicorn
h11
Pillow
h2
hpack
hstspreload
whitenoise

